
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 20px;
    font-size: 220%;
    color: wheat;
    text-align: center;
}
 h2{
    padding: 10px;
    margin: 15px;
    color: floralwhite; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: larger; 
    font-weight: normal; 
 }

#detail{
    background-color: beige;
    margin: 10px 20px;
    padding: 15px;
    color:teal;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}

.media{
    background-color:teal;
    margin: 5px 25px;
    color: floralwhite;
    font-size: larger;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

#gallery{
    margin: 5px 20px;
}
.image img{
    transition: 1s;
    padding: 0 10px;
    width: 400px;
    max-width: 100%;
}
.image img:hover{  
    filter: grayscale();
    transform: scale(1.1);

}

#trailer{
    max-width: 95%;
    padding: 10px;
    
}

#song:hover{
    width: 70%;
}

/*These lines are the color of the hyperlinks*/
a:link{
    color: red;
}
a:visited{
    color: red;
}
a:hover{
    color: indigo;
}
a:active{
    color: blue;
}